a 
{
    text-decoration: none;
}
img
{
    width:300px;
    height:600px;
}
.container
{
    display:flex;
    background-color: #0F2B3B;
    margin: 20px 220px;
}
.container1
{
    background-color: grey;
    width:600px;
    height:500px;
    margin: 45px 40px;
}
.para1
{
    font-size: 22px;
    text-align: center;
    color: blue;
    margin-top: 55px;
}
.container2
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:justify;
}
.container1 img{
    margin-top: 10px;
    margin-left: 10px;
    height:30px;
    width:30px;
}
input
{
    margin-top: 22px;
    margin-left: 60px;
    padding-right: 25px;
    padding-left: 10px;
}
.container3
{
    display: flex;
}
.one
{
    font-size: 17px;
    margin-top: 30px;
    margin-left: 110px;
}
.container4 input
{
    margin-top: 37px;
    margin-left: 300px;
    width:60px;
    padding: 7px;
    position: absolute;
    background-color: #0F2B3B;
    color: aliceblue;   
}
.text1{
    margin-left: 95px;
}
hr
{
    position: absolute;
    top:180px;
    width: 195px;
    left:730px;
    background-color: #dedce4;
    color: hsl(255, 20%, 96%);
    background: #f2f1f3;
}
@media only screen and (min-width: 1600px)
{
    img
{
    width:500px;
    height:1050px;
}
.container
{
      margin: 30px 120px;
}
.container1
{
    width:900px;
    height:950px;
    margin: 50px 100px;
}
.container1 img{
    height:40px;
    width:40px;
}
.para1
{
    font-size: 43px;
    text-align: center;
    margin-top: 85px;
}
.one
{
    font-size: 39px;
    margin-top: 40px;
    margin-left: 200px;
}
input
{
    margin-top: 40px;
    margin-left: 3%;
    padding-right: 100px;
    padding-left: 100px;
    height: 50px;
}
.text1{
    margin-left: 105px;
}
.container4 input
{
    margin-top: 30px;
    margin-left: 430px;
    width:140px;
    font-size: 35px;
    padding: 6px;
    position: absolute;  
}
hr
{
    position: absolute;
    top:250px;
    width: 400px;
    left:980px;
}
}
@media only screen and (min-width: 3000px)
{
    img
{
    width:1000px;
    height:2000px;
}
.container
{
      margin: 70px 520px;
}
.container1
{
    width:1700px;
    height:1750px;
    margin: 120px 90px;
}
.container1 img{
    height:90px;
    width:90px;
}
.para1
{
    font-size: 72px;
    text-align: center;
    margin-top: 225px;
}
.one
{
    font-size: 62px;
    margin-top: 100px;
    margin-left: 200px;
}
input
{
    margin-top: 65px;
    margin-left: 9%;
    padding-right: 305px;
    padding-left: 300px;
    height: 120px;
}
.text1{
    margin-left: 270px;
}
.container4 input
{
    margin-top: 115px;
    margin-left: 700px;
    width:250px;
    font-size: 50px;
    padding: 14px;
    position: absolute;  
}
hr
{
    position: absolute;
    top:610px;
    width: 650px;
    left:2100px;
}
}
