a 
{
    text-decoration: none;
    color: black;
}
.one {
    display: flex;
    background-color: gray;
}

.one img {
    margin-top: 19px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.one p {
    margin-top: 25px;
    margin-left: 10px;
}

.two {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 65px;
}

.two p {
    font-size: 20px;
}

.two input {
    margin-top: 19px;
    height: 30px;
    width: 80px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 320px;
    width: 28%;
}

.four {
    display: flex;
    flex-direction: row;
}

.three {
    background-color: bisque;
    width: 690px;
    height: 680px;
    margin-left: 5px;
}

.three1 {
    background-color: brown;
    width: 690px;
    height: 680px;
    margin-left: 15;
}

.three p {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Inknut Antiqua", serif;
}

.three1 p {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-family: "Inknut Antiqua", serif;
}

.five {
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
    line-height: 200%;
    font-family: 'Times New Roman', Times, serif;
}

.box1 {
    display: flex;
}

.box2 {
    display: flex;
}

.six {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 200%;
    font-family: 'Times New Roman', Times, serif;
}

.seven {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 200%;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    height: 620px;
}

.images {
    object-fit: cover;
    width: 500px;
    height: 400px;
}

.gk {
    position: absolute;
    left: 535px;
    top: 220px;
    font-size: 38px;
    color: #ED0BD6;
    font-family: "Love Ya Like A Sister", cursive;
}

.sf {
    position: absolute;
    left: 1000px;
    top: 620px;
    font-size: 20px;
    color: #0B15F5;
    font-family: "Joti One", serif;
}

.cs {
    position: absolute;
    left: 1150px;
    top: 390px;
    font-size: 30px;
    color: #38D9C5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ep {
    position: absolute;
    left: 50px;
    top: 390px;
    font-size: 30px;
    color: black;
    font-family: "Inknut Antiqua", serif;
}

.as {
    position: absolute;
    left: 300px;
    top: 620px;
    font-size: 19px;
    color: #3D9A2E;
    font-family: "Irish Grover", system-ui;
}

.dis {
    position: absolute;
    left: 250px;
    top: 820px;
    font-size: 35px;
    color: #9501EF;
    font-family: "Lexend", sans-serif;
}

.rhy {
    position: absolute;
    left: 950px;
    top: 820px;
    font-size: 35px;
    color: #D91414;
    font-family: "Keania One", sans-serif;
}
.images1
{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1308px;
    bottom: 520px;
}
@media only screen and (min-width:1600px)
{
    .two p {
        font-size: 60px;
        margin-top: 35px;
    }
    .one img {
        height: 75px;
        width: 75px;
    }
    
    .one p {
        margin-top: 35px;
        font-size: 35px;
    }
    .two input {
        font-size: 35px;
        height: 50px;
    width: 190px;
    margin-top: 35px;
    }
    .center .images 
    {
        width: 660px;
        height: 550px;
    }
    .gk {
        left: 750px;
        top: 240px;
        font-size: 48px;
    }
    
    .sf {
        left: 1360px;
        top: 660px;
        font-size: 29px;
    }
    
    .cs {
        left: 1650px;
        top: 410px;
        font-size: 40px;
    }
    
    .ep {
        left: 150px;
        top: 410px;
        font-size: 40px;
    }
    
    .as {
        left: 480px;
        top: 685px;
        font-size: 29px;
    }
    
    .dis {
        left: 410px;
        top: 1000px;
        font-size: 45px;
    }
    
    .rhy {
        left: 1250px;
        top: 980px;
        font-size: 45px;
    }
    .four 
    {
        margin-top:50px;
        margin-left:30px;
        justify-content: space-around;
    }
    .three p {
        font-size: 35px;
    }
    .three1 p {
        font-size: 35px;
    }
    .five, .six, .seven
    {
        font-size:25px;
    }
    .three {
        width: 690px;
        height: 980px;  
    }
    
    .three1 {
        width: 690px;
        height: 980px;
    }
    .images1
{
    width: 60px;
    height: 60px;
    left: 1828px;
    bottom: 900px;
}
}
